* {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  background-color: grey;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.landing-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}

.left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  background-color: darkgray;
  height: 370px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-img {
  height: 95%;
  width: 95%;
  object-fit: contain;
}

.action-section {
  height: 20%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.left-shade {
  background-color: #505050;
  width: 40%;
  height: 100%;
}
.slant {
  height: 240px;
  width: 140px;
  background-color: #505050;
  transform: rotate(-25deg);
  position: relative;
  top: -10px;
  left: -34px;
  z-index: 3;
}
.slant-2 {
  height: 240px;
  width: 140px;
  background-color: #a10000;
  transform: rotate(-25deg);
  position: relative;
  top: -10px;
  left: -114px;
}

.cta-button-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.cta-button-container a {
  text-decoration: none;
  background-color: #5d5d5d;
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 50px;
  width: 55%;
  color: black;
  position: absolute;
  right: 0px;
  z-index: 5;
  background: linear-gradient(
    36deg,
    rgba(93, 93, 93, 1) 33%,
    rgba(28, 28, 28, 1) 93%
  );
  transition-duration: 500ms;
}

.cta-button-container a:hover {
  color: black;
  text-decoration: none;
  background: linear-gradient(
    36deg,
    rgba(28, 28, 28, 0.9251050762101716) 33%,
    rgba(161, 0, 0, 1) 93%
  );
}

.cta-button-container a:hover p {
  opacity: 1;
}

.cta-button-container a p {
  margin-bottom: 5px;
  margin-right: 5px;
  font-size: 24px;
}

.about-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.text-about {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#racecar {
  width: 100px;
}

.cars-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.car-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 50px 0;
  min-height: 600px;
}

.cars-title {
  display: flex;
  justify-content: center;
  width: 100%;
}
.carbox {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.car-img {
  width: 97%;
  height: 70%;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}
.starter-car-img {
  width: 98%;
  height: 98%;
  object-fit: cover;
}
.car-description {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.car-description p {
  background-color: #a10000;
  padding: 5px;
  color: black;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #464646;
}

#contact {
  width: 100%;
  height: 100vh;
  background-color: #111;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px "Oswald", sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

.form-control,
textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px "Lato", sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px "Lato", sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all 0.2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff;
}

.social-media-list li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px "Oswald", sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255, 255, 255, 0.8);
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
  #contact {
    height: 1000px;
  }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container,
  .form-horizontal {
    float: none;
    margin: 10px auto;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
  }
  .section-header {
    font-size: 50px;
  }
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    max-width: 340px;
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
